 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: black;
     min-height: 470vh;
 }

 .main {
     background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/7d2359a4-434f-4efa-9ff3-e9d38a8bde7f/web/PK-en-20250707-TRIFECTA-perspective_8df60425-904b-4752-bea2-1d1979861e23_large.jpg");
     min-height: 80vh;
     /* min-height: clamp(60vh, 80vh, 100vh); */
     background-repeat: no-repeat;
     background-size: max(1200px, 100vw);
     position: relative;
     width: 100%;
 }

 .main .box {
     width: 100%;
     background-color: black;
     opacity: 0.69;
     position: absolute;
     inset: 0;
 }

 nav {
     display: flex;
     max-width: 80vw;
     height: 70px;
     margin: auto;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 nav img {
     position: relative;
     z-index: 10;
 }

 nav button {
     position: relative;
     z-index: 10;
 }

 .hero {
     min-height: 70vh;
     /* min-height: clamp(40vh, 60vh, 80vh); */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     font-family: 'Poppins', sans-serif;
     position: relative;
     padding: 0 25px;
     gap: 15px;
 }

 .hero span:first-of-type {
     font-size: 40px;
     font-weight: 600;
     text-align: center;
 }

 .hero span:nth-of-type(2) {
     font-size: 20px;
     text-align: center;
     font-weight: 400;
 }

 .hero span:nth-of-type(3) {
     font-size: 17px;
     text-align: center;
     font-weight: 400;
 }

 .seperation {
     height: 4px;
     background-color: rgb(46, 46, 46);
     width: 100%;
 }

 .bttn-eng {
     background-color: rgba(248, 248, 248, 0.20);
     border: 1px solid white;
     border-radius: 4px;
     cursor: pointer;
     color: white;
     padding: 3px 8px;
 }

 .red-bttn {
     border-radius: 2px;
     border: 1px solid rgb(210, 5, 6);
     padding: 3px 8px;
     background-color: red;
     color: white;
 }

 .red-bttn:hover {
     background-color: rgb(210, 5, 6);
     cursor: pointer;
 }

 .hero-buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 6px;
 }

 .main input {
     background-color: rgba(23, 23, 23, 0.5);
     font-size: 12px;
     color: white;
     border-radius: 4px;
     border: 1px solid rgba(238, 230, 230, 0.7);
     padding: 12px 101px 12px 14px;
 }


 .red-bttn-sm {
     padding: 8px 24px;
     font-size: 20px;
     border-radius: 4px;
     background-color: red;
     border: 1px solid rgb(215, 6, 6);
     color: white;
 }

 .red-bttn-sm:hover {
     background-color: rgb(215, 6, 6);
     cursor: pointer;
 }

 .first {
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 25px;
     max-width: 80%;
     margin: auto;
 }

 .sec-image {
     position: relative;
 }

 .sec-image img {
     position: relative;
     width: 408px;
     z-index: 1;
 }

 .first video {
     width: 297px;
     position: absolute;
     top: 63px;
     right: 57px;

 }

 .span {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .first span:first-of-type {
     font-size: 40px;
     font-weight: bolder;
 }

 .first span:last-of-type {
     font-size: 20px;
 }

 .seperation-2 {
     height: 4px;
     margin-top: 40px;
     background-color: rgb(46, 46, 46);
     width: 100%;
 }


 .third img {
     width: 358px;
 }

 .third video {
     width: 215px;
     position: absolute;
     right: 73px;
     top: 26px;
 }

 .fourth {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 70px;
     margin-top: 20px;
 }

 .faq {
     background-color: black;
     color: white;
 }

 .faq h2 {
     text-align: center;
     padding: 34px;
     font-size: 48px;
 }

 .faqbox {
     display: flex;
     font-size: 18px;
     justify-content: space-between;
     background-color: #2d2d2d;
     padding: 15px;
     align-items: center;
     color: white;
     max-width: 65%;
     margin: 6px auto;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 .faqbox svg {
     width: 30px;
     height: 30px;
 }

 .faqbox:hover {
     background-color: #414141;
 }

 footer {
     color: white;
     max-width: 70vw;
     margin: auto;
     font-size: 13px;
 }

 footer a {
     color: white;
 }

 footer span {
     display: inline-block;
     padding: 40px 0px 15px 0px;
 }

 .footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 80px;
 }

 .footer-items {
     display: flex;
     flex-direction: column;
     gap: 8px;

 }

 /* For ipads and tablets  */

 @media (max-width:900px) {

     .main,
     nav {
         width: 100%;
         padding: 0 19px;
     }

     .main {
         min-height: 49vh;
     }

     .hero {
         min-height: 44vh;
     }

     .first,
     .seperation,
     .seperation-2 {
         width: 100%;
         margin: 0;
         padding: 0 19px;
     }

     .first {
         display: flex;
         gap: 20px;
         flex-wrap: wrap;
         padding: 45px;

     }

     .hero-buttons {
         display: flex;
         flex-direction: column;
         gap: 20px;
     }

     .footer {
         grid-template-columns: 1fr 1fr;
     }

     body {
         min-height: 100vh;
     }

     .hero span:first-of-type {
         font-size: 30px;
     }

     .hero span:nth-of-type(2) {
         font-size: 13px;
     }

     .hero span:nth-of-type(3) {
         font-size: 13px;
         text-align: center;
     }

     .first span:first-of-type {
         font-size: 31px;
         text-align: center;
     }

     .first span:last-of-type {
         font-size: 18px;
         text-align: center;
     }

     .faq h2 {
         font-size: 35px;
     }

     nav img {
         width: 100px;
     }

     .red-bttn-sm {
         margin-bottom: 10px;
     }
 }

 /* For Mobiles */

 @media (max-width:350px) {

     .main,
     nav {
         width: 100%;
         padding: 0 19px;
     }

     nav img {
         width: 80px;
     }

     .hero span:first-of-type {
         font-size: 20px;
     }

     .hero span:nth-of-type(2) {
         font-size: 10px;
     }

     .hero span:nth-of-type(3) {
         font-size: 10px;
     }

     .main input {
         height: 3.5vh;
         width: 75vw;
         padding: 10px;
     }

     .red-bttn-sm {
         padding: 10px;
         width: 50vw;
         height: 7vh;
         margin-bottom: 10px;
         font-size: 13px;
     }

     .first span:first-of-type {
         font-size: 21px;
     }

     .first span:last-of-type {
         font-size: 14px;
     }

     .sec-image img {
         width: 270px;
     }

     .first video {
         width: 195px;
         top: 43px;
         right: 38px;
     }

     .third img {
         width: 280px;
     }

     .third video {
         width: 168px;
         position: absolute;
         right: 58px;
         top: 21px;
     }

     .faq h2 {
         font-size: 22px;
     }

     .faqbox {
         font-size: 15px;
     }

     .faqbox svg {
         width: 25px;
         height: 25px;
     }
 }

 @media (min-width:901px) and (max-width:1024px) {
     .main {
         min-height: 49vh;
     }

     .hero {
         min-height: 44vh;
     }

     .hero-buttons {
         margin-bottom: 50px;
     }
 }